/*Navbar*/

body{
  padding-right: 0!important;
}

.navbar-global{
  /*bg-dark*/  
 background: rgb(1,49,69);;
 /*p-0*/
 padding: 0;
 /*shadow*/
 box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
 /*sticky-top*/
 position: sticky!important;
 top: 0;
 z-index: 1000;
 /*navbar*/
 position: relative;
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content: space-between;
 /* padding-top: 5rem;
 padding-bottom: 5rem; */
}

.navbar-brand-global{
 /*px-3*/
 padding-right: 1rem;
 padding-left: 1rem;
 /*me-0*/
 margin-right: 0!important;
 /*navbar-brand*/
 padding-top: 1rem;
 padding-bottom: .75rem;

 display: block;
 font-family: 'Dancing Script', serif;
 font-style: normal;
 font-weight: 600;
 font-size: 30px;
 line-height: 20px;
 color: #BE9667;
 text-decoration: none;
}

.form-search-global{
 /*w-100*/
 width: 100%;
 /*form-control*/
 display: block;
 padding: .75rem 1rem;

 font-size: 1rem;
 font-weight: 400;
 line-height: 1.5;
 color: #fff;

 background-color: rgba(255, 255, 255, .1);
 background-clip: padding-box;

 border-width: 0;

 transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-search-global:focus{
 /*form-contro-dark*/
 outline: none;
 background-color: #fff;
 color: #212529;
 border: 1px solid #ced4da;
 box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.navbar-dark .navbar-toggler{
 /*Tirar borda ao redor do botão ao clicar*/
 color: transparent!important;
}

.btn-check:focus+.btn, .btn:focus {
 /*Tirar borda ao redor do botão ao clicar*/
 outline: 0;
 box-shadow: none!important;
}

.navbar-toggle-global{
 /*position-absolute*/
 position: absolute;
 /*navbar navbar-toogle*/
 top: .25rem;
 right: 2rem;
 /*navbar-dark navbar-toogle*/
 border-color: rgba(255,255,255,.1)!important;
 transition: box-shadow .15s ease-in-out;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
 cursor: pointer;
}

/*Sidebar*/

.sidebar-global{
 position: fixed;
 top: 0;
 bottom: 0;
 left: 0;
 z-index: 100; /* Behind the navbar */
 padding: 48px 0 0; /* Height of navbar */
 box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);

 /*bg-dark*/  
 background-color: rgb(1,49,69);;

 /*text-white*/
 color: #fff;
 
}

.sidebar-content-global{
 position: relative;
 top: 0;
 height: calc(100vh - 48px);
 padding-top: .5rem!important;
 overflow-x: hidden;
 overflow-y: auto;
}

.divisor-top-sidebar{
 margin-top: 0;
 margin-bottom: 20px;
 position: relative;
 top: -5px;
}

.sidebar-nav-global{
 /*nav*/
 list-style: none;
 display: flex;
 flex-direction: column;

 margin-bottom: .5rem;
 flex-wrap: wrap;
 padding-left: 0;
}

.sidebar-list-global{
 display: list-item;

 padding: .5rem;
 margin-bottom: .5rem;

 border-radius: .25rem;
 border: 0;

 color: white;
 text-decoration: none;
 font-weight: 500;
 line-height: 1.5;
 font-size: 15px;
 
 transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.sidebar-active-global{
 background-color: #BE9667;
}

.sidebar-inactive-global:hover{
 background-color: #7656297b;
 color: #fff;
}

.sidebar-active-global:hover{
 color: #fff;
}

/*Dropdown*/

.dropdown-sidebar-global{
 padding-left: 0px;
 display: flex;
 align-items: center;
 border-radius: 0;
 border: none;
 background-color: transparent;
 flex-wrap: nowrap;
 white-space: normal;
 text-decoration: none;
 outline: none;
}

.dropdown-sidebar-global:hover{
 background-color: transparent;
}

.dropdown-sidebar-global strong{
 font-weight: 500;
}

.show>.btn-secondary.dropdown-toggle{
 background-color: transparent;
 border-color: transparent!important;
}

.show>.btn-secondary.dropdown-toggle:focus {
 box-shadow: none!important;
}

.btn-secondary:focus{
 box-shadow: none!important;
}

td button {
 margin-left: -18px;
 width: auto;
 padding-top: 2px!important;
 padding-bottom: 2px!important;
 margin-top: 2px!important;
 margin-bottom: 2px!important;
}

.register-global{
 background-color: tomato;
 font-weight: 600;
 border: none;
 outline: none;
 ;
}

.register-global:hover{
 background-color: rgb(253, 49, 13);
}

.button-add-specialist{
 background-color: transparent;
 outline: none;
 border: none;

 padding: 0;
 margin-bottom: 8px;
}

.select-specialist{
 display: flex;
 justify-content: space-between;
}

/*Modal*/
.modal{
  top: 10vh;
}

.modal-backdrop.show{
  opacity: .1;
}

.modal-content {
  background-color: #f7ece0;
}

.modal-content .modal-body{
  background-color: rgb(4, 63, 88);
  border-radius: 20px;
  margin: 10px;

}

.modal-content .modal-body strong{
  color: #BE9667;
}

.modal-content .modal-body p{
  color: #e5e5e5!important;
  margin-bottom: 0;
  background-color: rgb(25, 76, 99);
  border-radius: 5px;
  padding-left: 5px!important;
}

.modal-content .modal-body .clinica-pomarola{
  width: 200px!important;
  margin-top: 16px;
  margin-bottom: 0;
  margin-left: 20px;
}

.modal-content .modal-body .clinica-pomarola span{
  font-family: 'Dancing Script', serif;
  font-style: normal;
  font-weight: 600;
  color: #BE9667;
  font-size: 20px;
}

button.close{
  display: none;
}

.reverter-logo-name{
  display: flex;
}

.info-name-complete {
  width: 65%;
}

.info-logomarca{
  width: 33.3333333%;
}

/* Modal Especialista */

.modal-specialist .modal-content .modal-body{
  background-color: #58978f!important;
}

.modal-specialist .modal-content .modal-body strong{
  color: rgb(4, 63, 88);
}

.modal-specialist .modal-content .modal-body p{
  background-color: #64a399;
}

.modal-specialist .modal-content .modal-body .clinica-pomarola span{
  color: #e71d1d;
}

/* Modal Profissão */

.modal-profession .modal-content .modal-body, .modal-profession .modal-content{
  background-color: #dee2e6;
}

.modal-profession .modal-content{
  top: 5vh;
  border: 1px solid #2125294f;
  box-shadow: 2px 10px 10px #2125294f;
}

.modal-profession .modal-header {
  border-bottom: 1px solid #2125294f;
}
.modal-profession .modal-footer {
  border-top: 1px solid #2125294f;
}

/* Modal Horários Disponíves */

.modal-attendance .modal-content{
  border: 1px solid #2125294f;
  box-shadow: 2px 10px 10px #2125294f;
}

.modal-attendance .modal-content .modal-body, .modal-attendance .modal-content{
  background-color: #dee2e6;
}

.modal-attendance .modal-content{
  top: 8vh;
  width: 30vw;
}

@media (max-width: 575px) {
  .modal-attendance .modal-content{
    top: 20.5vh;
    left: 10px;
    width: 90vw;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .modal-attendance .modal-content{
    top: 20.5vh;
    left: -30px;
    width: 80vw;
  }
}
@media (min-width: 769px) and (max-width: 878px) {
  .modal-attendance .modal-content{
    top: 20.5vh;
    left: -30px;
    width: 70vw;
  }
}

.modal-attendance .modal-header {
  border-bottom: 1px solid #2125294f;
}
.modal-attendance .modal-footer {
  border-top: 1px solid #2125294f;
}

/* Modal da Tela de Atendimento */

.select-modal-attendance {
  background: #297064!important;
  color: #e5e5e5;
  border: 1px solid rgb(253, 253, 253);
  border-radius: 5px;
  outline: none;
}

/* Modal de Registro da Tela de Atendimento */

.modal-register-attendance .modal-content .modal-body{
  background-color: #f7ece0!important;
  color: #212529;
}

.modal-register-attendance .modal-content .modal-body strong{
  color: #212529;
}


/*Responsividade*/

@media (min-width: 768px){
 .navbar-global {
   flex-wrap: nowrap;
 }
 /*col-md-3*/
 .navbar-brand-global {
   flex: 0 0 auto;
   width: 35%;
 }
 /*d-md-none*/
 .navbar-toogle-global {
   display: none;
 }
 /*d-md-block*/
 .sidebar-global {
   display: block;
   flex: 0 0 auto;
   width: 25%;
   flex-wrap: nowrap;
   justify-content: flex-start;
 }
 .navbar-expand-md .navbar-collapse {
   display: block!important;
 }
 .list-bottom-sidebar{
   width: 92%;
   position: absolute;
   bottom: 0;
 }
}
@media (min-width: 992px){
 /*col-lg-2*/
 .navbar-brand-global {
   flex: 0 0 auto;
   width: 30%;
 }
 .sidebar-global {
   flex: 0 0 auto;
   width: 16.666666667%;
 }
}

@media (max-width: 768px) {
 .sidebar-global {
   position: relative;
   top: 0px;
   padding-top: 0px;
 }
 .divisor-top-sidebar{
   margin-top: 10px;
   margin-bottom: 20px;
   position: relative;
   top: 0px;
 }
 .sidebar-content-global{
   height: auto;
 }
 .register-global{
   margin-bottom: 20px;
 }
 .modal{
  top: 0vh;
}
 .reverter-logo-name{
    flex-direction: column-reverse;
  }
  .info-name-complete {
    width: 100%;
  }
  .modal-content .modal-body .clinica-pomarola{
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 10px;
  }
}
